{% extends '::base.html.twig' %}

{% form_theme voce_spesa_form 'AlmaBundle:Form:form_base.html.twig' %}


{% block body -%}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Ospite					<small>elenco di tutti gli ospiti</small>
            </h3>
            <ul class="page-breadcrumb breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="index.html">Home</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li><a href="{{ path("ospite")}}">Ospite</a><i class="fa fa-angle-right"></i></li>
                <li><a href="#">Elenco</a></li>
                <li class="pull-right">
                    <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="fa fa-calendar"></i>
                        <span></span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-body">
                    <div class="table-toolbar">
                        <div class="btn-group">
                            <a href="{{ path('ospite_new') }}"><button id="sample_editable_1_new" class="btn green"><i class="fa fa-plus"></i></button>
                            </a>
                        </div>
                    </div>
                    <table class="table table-striped table-hover table-bordered" id="ospite-elenco">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Codicefiscale</th>
                            <th>Datanascita</th>
                            <th>Telefono</th>
                            <th>Azioni</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('ospite_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.nome }}</td>
                                <td>{{ entity.cognome }}</td>
                                <td>{{ entity.codiceFiscale }}</td>
                                <td>{% if entity.dataNascita %}{{ entity.dataNascita|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{{ entity.telefono }}</td>
                                <td>
                                    {% embed 'AlmaBundle:Base:entityAction.html.twig' with {'urlPrefix': 'ospite', 'id': entity.id} %}
                                        {% block more %}
                                            {% if entity.hasContoAperto %}
                                                <a href="javascript:void(0);"  onclick="mostraModaleVoceSpesa('{{ entity.id }}')" class="btn btn-sm green" ><i class="fa fa-plus-square"></i></a>
                                            {% endif %}
                                        {% endblock %}
                                    {% endembed %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div id="voceSpesaModal" class="modal fade" role="dialog" aria-labelledby="mainLabel" aria-hidden="true">
        {{ form_start(voce_spesa_form) }}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h3 id="mainLabel">Aggiunta voce spesa</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_rest(voce_spesa_form) }}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Annulla</button>
                    <input type="submit" class="btn btn-primary" id="voceSpesaConferma" value="Conferma">
                </div>
            </div>
        </div>
        {{ form_end(voce_spesa_form) }}
    </div>
{% endblock %}


{%block  page_level_plugins %}
    <script type="text/javascript" src="{{ asset('assets/plugins/select2/select2.min.js')}}"></script>
{% endblock%}

{%block  page_level_scripts %}
    <script type="text/javascript">
        function mostraModaleVoceSpesa(ospiteId){
            $("#almabundle_ospitevocespesa_ospiteId").val(ospiteId);
            $('#voceSpesaModal').modal('toggle');
        }
    </script>
{% endblock%}

 {%block  jquery_page_document_ready %}
     <script>
         var tipiVociSpesa = eval("{{ tipi_voci_spesa|e('js') }}");

         function settaValoreImporto(tipoVoceSpesaId){
             tipiVociSpesa.forEach(function(entry) {
                 if(tipoVoceSpesaId == entry.id){
                     $("#almabundle_ospitevocespesa_importo").val(entry.prezzo_standard);
                 }
             });
         }

         jQuery(document).ready(function() {

             $('#almabundle_ospitevocespesa_descrizione').parent("div").parent("div").hide();
             $('#almabundle_ospitevocespesa_sconto').parent("span").parent("div").parent("div").hide();
             settaValoreImporto($('#almabundle_ospitevocespesa_tipoVoceSpesa').val());
             $('#almabundle_ospitevocespesa_tipoVoceSpesa').on('change', function() {
                 settaValoreImporto($(this).val());
                 if($(this).val()==-1) {
                     $('#almabundle_ospitevocespesa_descrizione').parent("div").parent("div").show();
                     $('#almabundle_ospitevocespesa_descrizione').parent("div").show();
                     $('#almabundle_ospitevocespesa_sconto').parent("span").parent("div").parent("div").show();
                     $('#almabundle_ospitevocespesa_sconto').parent("span").parent("div").show();
                 }else{
                     $('#almabundle_ospitevocespesa_descrizione').parent("div").parent("div").hide();
                     $('#almabundle_ospitevocespesa_sconto').parent("span").parent("div").parent("div").hide();
                 }
             });
         });
     </script>
 {% endblock%}